* {
  text-decoration: none;
  font-family: sans-serif;
}

.items-container {
  max-width: 1280px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-card {
  width: 243.2px;
  margin: 5px;
  cursor: pointer;
}

.user-identity {
  display: flex;
  align-items: center;
  padding: 10px;
}

.user-avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.user-identity,
.item-brand,
.item-size {
  color: rgba(0, 0, 0, 0.582);
  font-size: 14px;
  display: flex;
  align-items: center;
  line-height: 18px;
}

.item-price {
  color: black;
  font-size: 18px;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.item-picture {
  width: 100%;
  height: 360px;
}

.item-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.page-btn-container {
  max-width: 1280px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-btn {
  width: 100px;
  cursor: pointer;
  color: #fff;
  background-color: #09adb6;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
  font-size: 16px;
  transition: 0.3s;
}

.page-btn:hover {
  background-color: #09adb6a4;
  color: #fff;
}

.page-btn-off {
  width: 100px;
  cursor: not-allowed;
  background-color: #00000031;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
  font-size: 16px;
  transition: 0.3s;
}

.page-btn-container span {
  font-size: 18px;
  padding: 0 10px;
}
