.login-container {
  width: 1280px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}
